@fntBaseFamily: "Muli", sans-serif;
@fntBaseSize: 16pt;
@clrBg: #fafafa;
@clrText: #444444;
@clrBorder: #c7c7c7;
@clrAccent: #f48668;
@clrHilite: #fed5ca;

* { margin: 0; padding: 0; border: 0; outline: none; }
div.struct {
  position: relative; float: left; box-sizing: border-box; width: 100%;
  height: auto; overflow-y: auto;
}
html { 
  height: 100%; background-color: @clrBg; font-size: @fntBaseSize; font-family: @fntBaseFamily;
  border: 0; margin: 0;
}
body {
  position: relative; width: 100%; height: 100%; overflow-y: scroll;
  box-sizing: border-box; background-color: @clrBg; color: @clrText;
}
input { display: block; box-sizing: border-box; position: relative; float: left; }
// Fuck IE
i.fa { cursor: default; }
input::-ms-clear { display: none; width: 0; height: 0; }
// Fuck iOS
input {
  -webkit-appearance: none;
  -webkit-border-radius:0px;
  border-radius: 0;
}

#header {
  width: 98%; margin: 0 auto; float: none; padding: 2rem 2%; z-index: 1; height: 2rem; overflow: hidden;
  h1 { 
    font-size: 1.7rem; width: auto; position: relative; float: left; height: 2rem; 
    z-index: 2; background-color: @clrBg; padding-right: 0.3rem;
  }
  div { 
    position: relative; width: 100%; height: 1.5rem; 
    border-bottom: 3pt solid @clrText;
  }
}
#halfer {
  padding: 1rem 0 0 0; height: 100%; overflow: hidden;
  .half { width: 45%; overflow-y: hidden; }
  .half.left { margin-left: 3%; margin-right: 1%; }
  .half.right { margin-left: 1%; margin-right: 3%; }
  .editorWrap.hidden { visibility: hidden; }
  .editor { height: 17rem; font-size: @fntBaseSize; background-color: white; }
}
#halfer.shuang {
  .normal { display: none; }
}
#halfer.normal {
  .shuang { display: none; }
  .right {
    h2 { font-size: 1.5rem; margin-bottom: 1.85rem; }
    p {
      color: white; width: 13rem; text-align: center; margin-bottom: 0.4rem; padding: 0.1rem 0;
      border-radius: 0.3rem;
      &.red { background-color: red; }
      &.blue { background-color: blue; }
      &.violet { background-color: blueviolet; }
      &.green { background-color: green; }
      &.orchid { background-color: darkorchid; }
      &.orange { background-color: darkorange; }
    }
  }
}

.box { border: 1px solid #cccccc; padding: 12px 9px; }
.connect {
  margin-bottom: 0.5rem;
  input { height: 2rem; }
  input[type="button"] { 
    border: none; width: 20%; float: right; color: white; 
    font-size: 0.8rem; text-transform: uppercase;
  }
  input[type="button"].red { background-color: red; &:hover { background-color: lighten(red, 20%); } }
  input[type="button"].blue { background-color: blue; &:hover { background-color: lighten(blue, 20%); } }
  input[type="button"].violet { background-color: blueviolet; &:hover { background-color: lighten(blueviolet, 20%); } }
  input[type="button"].green { background-color: green; &:hover { background-color: lighten(green, 20%); } }
  input[type="button"].orchid { background-color: darkorchid; &:hover { background-color: lighten(darkorchid, 20%); } }
  input[type="button"].orange { background-color: darkorange; &:hover { background-color: lighten(darkorange, 20%); } }
  input[type="button"].disabled { background-color: grey; }
  input[type="text"] { 
    background-color: white; font-size: @fntBaseSize; font-family: @fntBaseFamily;
    border: none; width: 80%; padding: 0 8px 0 8px;
  }
}
