<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title>MIDOKU</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name='robots' content='noindex,nofollow' />
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
  <link href="/app.min.css" rel="stylesheet">
</head>
<body>
  <div id="header" class="struct">
    <h1>MIDOKU</h1>
    <div>&nbsp;</div>
  </div>
  <div id="halfer" class="struct normal">
    <div class="half left struct">
      <div class="box connect struct">
        <input type="text" value="alove" />
        <input type="button" value="Connect" />
      </div>
      <div class="editorWrap hidden struct">
        <div id="editorL" class="editor"><br/></div>
      </div>
    </div>
    <div class="half right shuang struct">
      <div class="box connect struct">
        <input type="text" value="hlamar" />
        <input type="button"value="Connect" />
      </div>
      <div class="editorWrap hidden struct">
        <div id="editorR" class="editor"><br/></div>
      </div>
    </div>
    <div class="half right normal struct">
      <h2>You &amp; the others</h2>
      <div class="struct" id="peerlist">
        <p>alove (you)</p>
        <p>florian</p>
      </div>
    </div>
  </div>
  
  <!--
  <div id="halfer" class="mine">
    <div class="half mine left">
      <div id="editor1" class="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>
      </div>
    </div>
    <div class="half mine right">
      <div id="editor2" class="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>
      </div>
    </div>
  </div>
  -->

  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/quill.min.js"></script>
  <script src="/lib/quill-cursors.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>
